{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'authorization/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'authorization/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'authorization/css/main.css' %}">
    <link rel="stylesheet" href="{% block style %}{% endblock %}">

</head>
<body>
    {% block nav %}
    {% endblock %}


    {% block body %}
    {% endblock %}
    <script src="{% static 'authorization/js/bootstrap.min.js' %}"></script>
</body>
</html>