{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="C:/Diplom_project_Alekasndrov_Kudrin/web_interface/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'authorization/css/autho.css'%}">
</head>
<body>
    {% block body %}
    {% endblock %}
    <script src="C:/Diplom_project_Alekasndrov_Kudrin/web_interface/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</body>
</html>