{% extends 'authorization/page-nav.html' %}
{% load static %}
{% block style %}
{% static 'setpoints/css/setpoints.css'%}
{% endblock %}

{% block title %} 
{{'Уставки'}} 
{% endblock %}
{% block body %}
<h2>Уставки</h2>
<div class="setp-win">
    <h4> {{devData.name_user}} {{devData.description}} </h4>
    <form method="post">
        {% csrf_token %}
        <div class="setpoints">
            <p class="title-tab1">Основные уставки:</p>
            {% for item in setP %}
                {% if item.name == 'LimPlugDown' %}
                    <p class="title-tab2">Дополнительные уставки:</p>
                {% endif %}
                    {% if item.name != 'Username2' and item.name != 'Username1' %}
                        <p class="label">{{item.label_tag}}</p>
                        <p class="val">{{item}}</p>
                    {% elif item.name == 'Username1' %}
                        <p class="label-name">{{item.label_tag}}</p>
                        <p class="val-name">{{item}}</p>
                    {% elif item.name == 'Username2' %}
                        <p class="val">{{item}}</p>
                    {% endif %}
    
            {% endfor %}
        </div>
        <div class="bt-gr">
            <div class="but-md"><a href="JavaScript:window.close()">Закрыть</a></div>
            <div class="mess">
                {% if mess == 'Успешно!' %}
                    <span class="green">{{mess}}</span>
                {% elif mess == 'Сейчас уставки менять нельзя, дождитесь окончания записи' or mess == 'Подождите пока измененные уставки вступят в силу' %}
                    <span class="yellow">{{mess}}</span>
                {% elif mess == 'Нет связи!' or mess == 'Устройство не найдено!' or mess == 'Вы не можете изменять уставки!' or mess == 'Возникла ошибка при передаче! Пожалуйста, повторите попытку' or mess == 'Возникла ошибка при записи! Пожалуйста, Пожалуйста, убедитесь в правильности введенных уставок' or mess == 'Возникла ошибка при проверке данных! Пожалуйста, убедитесь в правильности введенных уставок'%}
                <span class="red">{{mess}}</span>
                {%endif%}
            </div>

            {%if but %}
                <div class="but-apply">
                    <input type="submit" value="Применить" />
                </div>
            {%endif%}
        </div>
    </form>
    
    
</div>
{% endblock %}